---
import FaLayout from "../../../layouts/FaLayout.astro";
---

<FaLayout
    keywrd="Ermia,Moghadamy,DevOps,Programmer,Codev,GeekyChunk,Azure"
    title="ارمیا مقدمی | رزومه ارمیا مقدمی |‌برنامه نویس"
>
    <div class="bg-slate-700 rounded-xl shadow-lg pt-14 lg:p-6">
        <div class="flex flex-col xl:flex-row">
            <div class="xl:w-1/3 w-full flex flex-col p-6 gap-6">
                <div class="bg-slate-600 p-4 rounded-xl">
                    <div class="flex flex-row justify-center">
                        <img
                            class="h-32 w-auto object-center rounded-full border-2 border-slate-500 shadow"
                            src="/img/Ermia-Moghadamy.png"
                            alt="ارمیا مقدمی (برنامه نویس)"
                        />
                        <img
                            class="hidden"
                            src="/img/Ermia-Real-Picture.png"
                            alt="ارمیا مقدمی برنامه نویس"
                        />
                        <img
                            class="hidden"
                            src="/img/ermia-face.png"
                            alt="ارمیا مقدمی برنامه نویس"
                        />
                        <img
                            class="hidden"
                            src="/img/Ermia-Moghadamy.png"
                            alt="ارمیا مقدمی برنامه نویس"
                        />
                    </div>
                    <div class="my-2"></div>
                    <h1 class="text-center font-bold text-2xl">ارمیا مقدمی</h1>
                    <h1 class="text-center text-slate-300">
                        ارمیا مقدمی هستم ,<br />
                        برنامه نویس و توسعه دهنده وب و اپلیکیشن, و DevOps
                    </h1>
                </div>
                <div class="bg-slate-600 p-4 rounded-xl">
                    <h2 class="text-center font-bold text-xl">درباره من</h2>
                    <div
                        class="border-[1.2px] border-slate-400 my-3 rounded-xl"
                    >
                    </div>
                    <p class="text-center">
                        برنامه نویس فول استک وب و اپلیکیشن دولاپر. مدیرسیستم و
                        دوآپس. مدرس رسمی فنی حرفه ای.
                    </p>
                    <div class="flex flex-row justify-center gap-4 mt-4">
                        <a
                            target="_blank"
                            href="https://github.com/ErmiaCodev/"
                        >
                            <img
                                class="w-8 h-8 bg-white rounded-full"
                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/GitHub_Invertocat_Logo.svg/800px-GitHub_Invertocat_Logo.svg.png"
                                alt="ارمیا مقدمی گیت هاب"
                            />
                        </a>
                        <a
                            target="_blank"
                            href="https://www.linkedin.com/in/ermia-moghadamy-40b074217/"
                        >
                            <img
                                class="w-8 h-8"
                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f8/LinkedIn_icon_circle.svg/2048px-LinkedIn_icon_circle.svg.png"
                                alt="ارمیا مقدمی لینکداین"
                            />
                        </a>
                    </div>
                </div>
                <div class="bg-slate-600 p-4 rounded-xl">
                    <h2 class="text-center font-bold text-xl">اطلاعات</h2>
                    <div
                        class="border-[1.2px] border-slate-400 my-3 rounded-xl"
                    >
                    </div>
                    <div class="flex flex-col gap-2">
                        <div class="flex flex-row justify-between">
                            <div class="font-bold text-slate-100">ایمیل:</div>
                            <div>
                                <em>ermia.dev.official@gmail.com</em>
                            </div>
                        </div>
                        <div class="flex flex-row justify-between">
                            <div class="font-bold text-slate-100">تلفن:</div>
                            <div>
                                <em>09XX-XXX-XXXX</em>
                            </div>
                        </div>
                        <div class="flex flex-row justify-between">
                            <div class="font-bold text-slate-100">
                                تاریخ تولد:
                            </div>
                            <div>
                                <em>24 اردیبهشت 1386</em>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-slate-600 p-4 rounded-xl pb-12">
                    <h2 class="text-center font-bold text-xl">مدارک</h2>
                    <div
                        class="border-[1.2px] border-slate-400 my-3 rounded-xl"
                    >
                    </div>
                    <div dir="ltr" class="flex flex-col gap-2 font-semibold">
                        <div>ICDL (ITVTO)</div>
                        <div>Web Design (ITVTO)</div>
                        <div>Python Programming (ITVTO)</div>
                        <div>ITVTO Educator License</div>
                    </div>
                </div>
                <div class="">
                    <a
                        target="_blank"
                        href="/assets/ermiam-resume.pdf"
                        class="w-full relative text-center cursor-pointer inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-base font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800"
                    >
                        <span
                            class="w-full relative px-3 py-3 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
                        >
                             دانلود رزومه و CV
                        </span>
                    </a>
                    <a
                        target="_blank"
                        href=""
                        class="w-full relative text-center cursor-pointer inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-base font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800"
                    >
                        <span
                            class="w-full relative px-3 py-3 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
                        >
                            دانلود مدارک
                        </span>
                    </a>
                    <a
                        target="_blank"
                        href=""
                        class="w-full relative text-center cursor-pointer inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-base font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800"
                    >
                        <span
                            class="w-full relative px-3 py-3 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
                        >
                            دانلود افتخارات
                        </span>
                    </a>
                </div>
            </div>

            <div class="xl:w-2/3 w-full flex flex-col p-6 gap-6">
                <div class="bg-slate-600 p-4 pb-14 rounded-xl">
                    <h2 class="text-center font-bold text-3xl">مهارت ها</h2>
                    <div
                        class="border-[1.2px] border-slate-400 my-3 rounded-xl"
                    >
                    </div>
                    <div
                        class="flex flex-col lg:flex-row justify-evenly gap-2 gap-y-4 !text-teal-500"
                    >
                        <div>
                            <h4 class="font-bold text-lg">Development</h4>
                            <ul
                                class="font-medium text-slate-200 text-base ps-4 flex flex-col gap-y-2"
                            >
                                <li class="flex flex-row items-center gap-1">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 24 24"
                                        fill="currentColor"
                                        class="w-5 h-5"
                                    >
                                        <path
                                            fill-rule="evenodd"
                                            d="M14.615 1.595a.75.75 0 0 1 .359.852L12.982 9.75h7.268a.75.75 0 0 1 .548 1.262l-10.5 11.25a.75.75 0 0 1-1.272-.71l1.992-7.302H3.75a.75.75 0 0 1-.548-1.262l10.5-11.25a.75.75 0 0 1 .913-.143Z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                    <span> HTML CSS JS </span>
                                </li>
                                <li class="flex flex-row items-center gap-1">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 24 24"
                                        fill="currentColor"
                                        class="w-5 h-5"
                                    >
                                        <path
                                            fill-rule="evenodd"
                                            d="M14.615 1.595a.75.75 0 0 1 .359.852L12.982 9.75h7.268a.75.75 0 0 1 .548 1.262l-10.5 11.25a.75.75 0 0 1-1.272-.71l1.992-7.302H3.75a.75.75 0 0 1-.548-1.262l10.5-11.25a.75.75 0 0 1 .913-.143Z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                    <span> ReactJs, NextJs, ReduxJs </span>
                                </li>
                                <li class="flex flex-row items-center gap-1">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 24 24"
                                        fill="currentColor"
                                        class="w-5 h-5"
                                    >
                                        <path
                                            fill-rule="evenodd"
                                            d="M14.615 1.595a.75.75 0 0 1 .359.852L12.982 9.75h7.268a.75.75 0 0 1 .548 1.262l-10.5 11.25a.75.75 0 0 1-1.272-.71l1.992-7.302H3.75a.75.75 0 0 1-.548-1.262l10.5-11.25a.75.75 0 0 1 .913-.143Z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                    <span> Vue, Nuxt </span>
                                </li>
                                <li class="flex flex-row items-center gap-1">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 24 24"
                                        fill="currentColor"
                                        class="w-5 h-5"
                                    >
                                        <path
                                            fill-rule="evenodd"
                                            d="M14.615 1.595a.75.75 0 0 1 .359.852L12.982 9.75h7.268a.75.75 0 0 1 .548 1.262l-10.5 11.25a.75.75 0 0 1-1.272-.71l1.992-7.302H3.75a.75.75 0 0 1-.548-1.262l10.5-11.25a.75.75 0 0 1 .913-.143Z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                    <span> TailwindCss </span>
                                </li>
                                <li class="flex flex-row items-center gap-1">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 24 24"
                                        fill="currentColor"
                                        class="w-5 h-5"
                                    >
                                        <path
                                            fill-rule="evenodd"
                                            d="M14.615 1.595a.75.75 0 0 1 .359.852L12.982 9.75h7.268a.75.75 0 0 1 .548 1.262l-10.5 11.25a.75.75 0 0 1-1.272-.71l1.992-7.302H3.75a.75.75 0 0 1-.548-1.262l10.5-11.25a.75.75 0 0 1 .913-.143Z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                    <span> Flutter </span>
                                </li>
                                <li class="flex flex-row items-center gap-1">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 24 24"
                                        fill="currentColor"
                                        class="w-5 h-5"
                                    >
                                        <path
                                            fill-rule="evenodd"
                                            d="M14.615 1.595a.75.75 0 0 1 .359.852L12.982 9.75h7.268a.75.75 0 0 1 .548 1.262l-10.5 11.25a.75.75 0 0 1-1.272-.71l1.992-7.302H3.75a.75.75 0 0 1-.548-1.262l10.5-11.25a.75.75 0 0 1 .913-.143Z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                    <span> PHP, Laravel, LiveWire </span>
                                </li>
                                <li class="flex flex-row items-center gap-1">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 24 24"
                                        fill="currentColor"
                                        class="w-5 h-5"
                                    >
                                        <path
                                            fill-rule="evenodd"
                                            d="M14.615 1.595a.75.75 0 0 1 .359.852L12.982 9.75h7.268a.75.75 0 0 1 .548 1.262l-10.5 11.25a.75.75 0 0 1-1.272-.71l1.992-7.302H3.75a.75.75 0 0 1-.548-1.262l10.5-11.25a.75.75 0 0 1 .913-.143Z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                    <span>
                                        Linux, SysAdmin <br />
                                        (LPIC-1, LPIC-2)
                                    </span>
                                </li>
                                <li class="flex flex-row items-center gap-1">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 24 24"
                                        fill="currentColor"
                                        class="w-5 h-5"
                                    >
                                        <path
                                            fill-rule="evenodd"
                                            d="M14.615 1.595a.75.75 0 0 1 .359.852L12.982 9.75h7.268a.75.75 0 0 1 .548 1.262l-10.5 11.25a.75.75 0 0 1-1.272-.71l1.992-7.302H3.75a.75.75 0 0 1-.548-1.262l10.5-11.25a.75.75 0 0 1 .913-.143Z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                    <span> Docker, Git, k8s </span>
                                </li>
                            </ul>
                        </div>

                        <div>
                            <h4 class="font-bold text-lg">More Tech</h4>
                            <ul
                                class="font-medium text-slate-200 text-base ps-4 flex flex-col gap-y-2"
                            >
                                <li class="flex flex-row items-center gap-1">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 24 24"
                                        fill="currentColor"
                                        class="w-5 h-5"
                                    >
                                        <path
                                            fill-rule="evenodd"
                                            d="M14.615 1.595a.75.75 0 0 1 .359.852L12.982 9.75h7.268a.75.75 0 0 1 .548 1.262l-10.5 11.25a.75.75 0 0 1-1.272-.71l1.992-7.302H3.75a.75.75 0 0 1-.548-1.262l10.5-11.25a.75.75 0 0 1 .913-.143Z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                    <span> Python </span>
                                </li>
                                <li class="flex flex-row items-center gap-1">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 24 24"
                                        fill="currentColor"
                                        class="w-5 h-5"
                                    >
                                        <path
                                            fill-rule="evenodd"
                                            d="M14.615 1.595a.75.75 0 0 1 .359.852L12.982 9.75h7.268a.75.75 0 0 1 .548 1.262l-10.5 11.25a.75.75 0 0 1-1.272-.71l1.992-7.302H3.75a.75.75 0 0 1-.548-1.262l10.5-11.25a.75.75 0 0 1 .913-.143Z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                    <span> Django, DRF </span>
                                </li>
                                <li class="flex flex-row items-center gap-1">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 24 24"
                                        fill="currentColor"
                                        class="w-5 h-5"
                                    >
                                        <path
                                            fill-rule="evenodd"
                                            d="M14.615 1.595a.75.75 0 0 1 .359.852L12.982 9.75h7.268a.75.75 0 0 1 .548 1.262l-10.5 11.25a.75.75 0 0 1-1.272-.71l1.992-7.302H3.75a.75.75 0 0 1-.548-1.262l10.5-11.25a.75.75 0 0 1 .913-.143Z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                    <span> Flask </span>
                                </li>
                                <li class="flex flex-row items-center gap-1">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 24 24"
                                        fill="currentColor"
                                        class="w-5 h-5"
                                    >
                                        <path
                                            fill-rule="evenodd"
                                            d="M14.615 1.595a.75.75 0 0 1 .359.852L12.982 9.75h7.268a.75.75 0 0 1 .548 1.262l-10.5 11.25a.75.75 0 0 1-1.272-.71l1.992-7.302H3.75a.75.75 0 0 1-.548-1.262l10.5-11.25a.75.75 0 0 1 .913-.143Z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                    <span> MongoDB </span>
                                </li>
                                <li class="flex flex-row items-center gap-1">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 24 24"
                                        fill="currentColor"
                                        class="w-5 h-5"
                                    >
                                        <path
                                            fill-rule="evenodd"
                                            d="M14.615 1.595a.75.75 0 0 1 .359.852L12.982 9.75h7.268a.75.75 0 0 1 .548 1.262l-10.5 11.25a.75.75 0 0 1-1.272-.71l1.992-7.302H3.75a.75.75 0 0 1-.548-1.262l10.5-11.25a.75.75 0 0 1 .913-.143Z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                    <span>
                                        Numpy, Pandas <br />
                                        MatPlot
                                    </span>
                                </li>
                                <li class="flex flex-row items-center gap-1">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 24 24"
                                        fill="currentColor"
                                        class="w-5 h-5"
                                    >
                                        <path
                                            fill-rule="evenodd"
                                            d="M14.615 1.595a.75.75 0 0 1 .359.852L12.982 9.75h7.268a.75.75 0 0 1 .548 1.262l-10.5 11.25a.75.75 0 0 1-1.272-.71l1.992-7.302H3.75a.75.75 0 0 1-.548-1.262l10.5-11.25a.75.75 0 0 1 .913-.143Z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                    <span> Selenium, Scappy </span>
                                </li>
                                <li class="flex flex-row items-center gap-1">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 24 24"
                                        fill="currentColor"
                                        class="w-5 h-5"
                                    >
                                        <path
                                            fill-rule="evenodd"
                                            d="M14.615 1.595a.75.75 0 0 1 .359.852L12.982 9.75h7.268a.75.75 0 0 1 .548 1.262l-10.5 11.25a.75.75 0 0 1-1.272-.71l1.992-7.302H3.75a.75.75 0 0 1-.548-1.262l10.5-11.25a.75.75 0 0 1 .913-.143Z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                    <span> PyTorch </span>
                                </li>
                                <li class="flex flex-row items-center gap-1">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 24 24"
                                        fill="currentColor"
                                        class="w-5 h-5"
                                    >
                                        <path
                                            fill-rule="evenodd"
                                            d="M14.615 1.595a.75.75 0 0 1 .359.852L12.982 9.75h7.268a.75.75 0 0 1 .548 1.262l-10.5 11.25a.75.75 0 0 1-1.272-.71l1.992-7.302H3.75a.75.75 0 0 1-.548-1.262l10.5-11.25a.75.75 0 0 1 .913-.143Z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                    <span> Computer Vision </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="bg-slate-600 p-4 rounded-xl">
                    <h2 class="text-center font-bold text-3xl">تجربیات</h2>
                    <div
                        class="border-[1.2px] border-slate-400 my-3 rounded-xl"
                    >
                    </div>
                    <div class="flex flex-col gap-8">
                        <div class="">
                            <div class="flex flex-row items-center gap-2">
                                <img
                                    class="w-14 h-14 rounded-full border -p-40 object-cover"
                                    src="/img/drm.png"
                                    alt="ارمیا مقدمی برنامه نویس و توسعه دهنده وبسایت دکتر مرزبان"
                                />
                                <h3 class="text-slate-100 font-bold text-xl">
                                    وبسایت "آکادمی دکتر مرزبان"
                                </h3>
                            </div>
                            <div class="lg:ps-6 pt-3">
                                <h4 class="italic font-semibold">فریلنسری</h4>
                                <p class="text-slate-200">
                                    برنامه فوق استک برای مدیریت و سامان دهی دانش
                                    آموزان و همچنین اتوماسیون مشاوره و یادگیری.
                                </p>
                                <h3 class="text-slate-100 font-bold">
                                    Django + Nextjs (& React + Redux) + Boostrap
                                    + Sass
                                </h3>
                            </div>
                        </div>

                        <div class="">
                            <div class="flex flex-row items-center gap-2">
                                <img
                                    class="w-14 h-14 rounded-full border"
                                    src="/img/nakhostin.jpeg"
                                    alt="ارمیا مقدمی برنامه نویس و توسعه دهنده وبسایت نخستین"
                                />
                                <h3 class="text-slate-100 font-bold text-xl">
                                    وب سایت و اپلیکیشن “آکادمی نخستین”
                                </h3>
                            </div>
                            <div class="lg:ps-6 pt-3">
                                <h4 class="italic font-semibold">فریلنسری</h4>
                                <p class="text-slate-200">
                                    سیستم مدیریت دانش آموزان آکادمی و اساتید.
                                </p>
                                <h3 class="text-slate-100 font-bold">
                                    Laravel + TailwindCss + AlpineJs
                                </h3>
                            </div>
                        </div>

                        <div class="">
                            <div class="flex flex-row items-center gap-2">
                                <img
                                    class="w-14 h-14 rounded-full border bg-slate-500 object-center"
                                    src="/img/nabla.png"
                                    alt="ارمیا مقدمی برنامه نویس وبسایت نابلا"
                                />
                                <h3 class="text-slate-100 font-bold text-xl">
                                    وبسایت “آکادمی نابلا”
                                </h3>
                            </div>
                            <div class="lg:ps-6 pt-3">
                                <h4 class="italic font-semibold">فریلنسری</h4>
                                <p class="text-slate-200">
                                    سیستم یکپارچه و اتوماسیون برای آزمون دریافت
                                    برنامه مشاوره و خدمات دیگر
                                </p>
                                <h3 class="text-slate-100 font-bold">
                                    Laravel + TailwindCss + AlpineJs
                                </h3>
                            </div>
                        </div>

                        <div class="">
                            <div class="flex flex-row items-center gap-2">
                                <img
                                    class="w-14 h-14 rounded-full border"
                                    src="/img/nakhostin.jpeg"
                                    alt="ارمیا مقدمی مدرس رسمی فنی حرفه ای"
                                />
                                <h3 class="text-slate-100 font-bold text-xl">
                                    مدرس رسمی فنی حرفه ای
                                </h3>
                            </div>
                            <div class="lg:ps-6 pt-3">
                                <h4 class="italic font-semibold">نیمه وقت</h4>
                                <p class="text-slate-200">
                                    تدریس بعنوان مدرس رسمی آموزشگاه فنی حرفه ای
                                    نخستین. در زمینه برنامه نویسی طراحی سایت و
                                    دوآپس
                                </p>
                                <h3
                                    class="text-slate-200 font-bold inline-flex gap-4"
                                >
                                    <strong>آموزش پایتون</strong>
                                    <strong>طراحی وب </strong>
                                    <strong>آموزش PHP</strong>
                                </h3>
                            </div>
                        </div>

                        <div class="">
                            <div class="flex flex-row items-center gap-2">
                                <img
                                    class="w-14 h-14 rounded-full border"
                                    src="/img/gallery/focusizer.png"
                                    alt="ارمیا مقدمی مدرس رسمی فنی حرفه ای"
                                />
                                <h3 class="text-slate-100 font-bold text-xl">
                                    پروژه تمرکزیار
                                </h3>
                            </div>
                            <div class="lg:ps-6 pt-3">
                                <h4 class="italic font-semibold">پروژه متن باز</h4>
                                <p class="text-slate-200">
                                    بومی سازی برنامه فارست به زبان فارسی
                                </p>
                                <h3
                                    class="text-slate-200 font-bold inline-flex gap-4"
                                >
                                    <strong>Flutter</strong>
                                    <strong>Dart </strong>
                                    <strong>Riverpod</strong>
                                    <strong>HiveDB</strong>
                                </h3>
                            </div>
                        </div>

                        <div class="">
                            <div class="flex flex-row items-center gap-2">
                                <img
                                    class="w-14 h-14 rounded-full border"
                                    src="/img/arduino.svg"
                                    alt="کنترلگر سخت افزار"
                                />
                                <h3 class="text-slate-100 font-bold text-xl">
                                    پروژه شخصی
                                </h3>
                            </div>
                            <div class="lg:ps-6 pt-3">
                                <h4 class="italic font-semibold">کنترلگر سخت افزار</h4>
                                <p class="text-slate-200">
                                    سیستم کنترل کلید چراغ منزل از راه توسط ارتباط وب سوکت
                                </p>
                                <h3
                                    class="text-slate-200 font-bold inline-flex gap-4"
                                >
                                    <strong>Arduino</strong>
                                    <strong>Adafruit </strong>
                                    <strong>ESP86</strong>
                                    <strong>ESP32</strong>

                                </h3>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="bg-slate-600 p-4 rounded-xl">
                    <h2 class="text-center font-bold text-3xl">جوایز</h2>
                    <div
                        class="border-[1.2px] border-slate-400 my-3 rounded-xl"
                    >
                    </div>

                    <div class="flex flex-col gap-8">
                        <div class="">
                            <div class="flex flex-row items-center gap-2">
                                <img
                                    class="w-14 h-14 rounded-full border"
                                    src="/img/kharazmi.png"
                                />
                                <h3 class="text-slate-100 font-bold text-xl">
                                    رتبه اول کشوری "جشنواره خوارزمی"
                                </h3>
                            </div>
                            <div class="lg:ps-6 pt-3">
                                <h4 class="italic font-semibold">
                                    اول &nbsp;~&nbsp; کشوری &nbsp;~&nbsp;
                                    جشنواره
                                </h4>
                                <p class="text-slate-200">
                                    رتبه اول کشوری جشنواره خوارزمی. <br />
                                    شاخه ریاضی <strong>></strong> برنامه نویسی <strong
                                        >></strong
                                    > کنترل سخت افزار
                                </p>
                            </div>
                        </div>

                        <div class="">
                            <div class="flex flex-row items-center gap-2">
                                <img
                                    class="w-14 h-14 rounded-full border"
                                    src="/img/pazhoheshSara.png"
                                />
                                <h3 class="text-slate-100 font-bold text-xl">
                                    رتبه دوم کشوری "جشنواره پژوهشسرا"
                                </h3>
                            </div>
                            <div class="lg:ps-6 pt-3">
                                <h4 class="italic font-semibold">
                                    رتبه دوم &nbsp;~&nbsp; کشوری &nbsp;~&nbsp;
                                    جشنواره
                                </h4>
                                <p class="text-slate-200">
                                    رتبه دوم کشوری پژوهشسرا <br />
                                    شاخه برنامه نویسی <strong>></strong> صفحات وب
                                    تعاملی.<br />
                                    <strong>پژوهشسرای ایران</strong>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</FaLayout>
