---
import Card from "../../components/Card.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout
    title="Ermia Codev | Gallery"
    keywrd="ermia,moghadamy,gallery"
>
    <section class="container mx-auto w-full max-w-5xl">
        <h1 class="text-center font-bold text-3xl sm:text-4xl">
            Ermia Moghadamy Gallery
        </h1>
        <div class="flex flex-row flex-wrap pt-12">
            <Card
                title="Focusizer"
                caption="Focusizer App"
                img="/img/gallery/focusizer.png"
                link="https://geekychunk.github.io/blog/focusizer/"
            />
            <Card
                title="Ermia Codev"
                caption="Ermia Moghadamy (Ermia Codev)"
                img="/img/ermia-codev.png"
            />
            <Card
                title="Nabla Academy"
                caption="Ermia Moghadamy | Nabla Academy"
                img="/img/gallery/nb.png"
            />
            <Card
                title="Nakhsotin Academy"
                caption="Ermia Moghadamy | Nakhosting Academy"
                img="/img/gallery/nkh.png"
            />
            <Card
                title="Konkur Academy"
                caption="Ermia Moghadamy | DrMarzban Website"
                img="/img/gallery/drm.png"
            />

            <Card
                title="MathBox"
                caption="Ermia (Codev) Moghadamy Arduino Project"
                img="/img/Ermia-Codev-Arduino.jpg"
            />
        </div>
    </section>
</Layout>
